<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt">
<title>Cadastro de contas</title>

<link th:href="@{/layout/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/layout/css/bootstrap-theme.min.css}" rel="stylesheet" />

</head>
<body>
	<div class="container">
		<h2>Cadastro de contas</h2>   
	</div>
	<div>
		<form class="form-horizontal" th:object="${conta}"
			th:action="@{/conta}" method="POST" style="margin: 20px 0">

			<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<th:block th:each="error : ${#fields.detailedErrors()} ">
					<div>
						<i class="fa  fa-exclamation-circle"></i>
						<span th:text="$error.message"></span>
					</div> 	
				</th:block>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Cpf:</label> 
				<div class="col-sm-5">
					<input type="text" class="form-control" th:field="*{cpf}"
						placeholder="Cpf" />
				</div>
			</div>
			<div class="form-group"> 
				<label class="col-sm-2 control-label">Agência:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" th:field="*{agencia}"
						placeholder="Agência" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Conta:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" th:field="*{conta}"
						placeholder="Conta" />
				</div>
			</div>

			<div class="form-group ">
				<div class="col-sm-2">
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>