<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Transferência de contas</title>

<link th:href="@{/layout/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/layout/css/bootstrap-theme.min.css}" rel="stylesheet" />

</head>
<body>
	<div class="container">
		<h2>Contas Details</h2>
	</div>
	<div>
		<form class="form-horizontal" th:object="${conta}"
			th:action="@{/conta}" method="POST" style="margin: 20px 0">

			<div class="form-group">
				<label class="col-sm-2 control-label">Cpf:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" th:field="*{cpf}"
						placeholder="Cpf" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Agência:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" th:field="*{agencia}"
						placeholder="Agência" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Conta:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" th:field="*{conta}"
						placeholder="Conta" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Valor:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control js-moeda" th:field="*{conta}"
						placeholder="Conta" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2">
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</div>
		</form>
	</div>
	<script th:src="@{/script/vendor/jquery.masknumber.min.js}"></script>
	
	<script>
		$('.js-moeda').maskNumber({
			decimal: ',',
			thousands: '.'
		});
	</script>
</body>
</html>