<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Contas</title>
<link th:href="@{/layout/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/layout/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de contas</h1>
		</div>
		<div class="panel-body">
			<form class="form-inline" method="POST" th:object="${conta}" th:action="@{/contas}" style="margin: 20px 0">
				<div class="form-group">
					<label for="cpf">Cpf</label>
					<input id="cpf" type="text" class="form-control" placeholder="Cpf" th:field="*{cpf}" />
				</div>	
				<div class="form-group">
					<label for="agencia">Agência</label>	 
					<input id="agencia" type="text" class="form-control" placeholder="Agência" th:field="*{agencia}" />
				</div>	
				<div class="form-group">	
					<label for="conta">Conta</label>
					<input id="conta" type="text" class="form-control" placeholder="Conta" th:field="*{conta}" />
				</div>	
				<div class="form-group">	
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Cpf</th>
						<th>Agência</th>
						<th>Conta</th>
						<th>Saldo</th>
						<th>Edit</th>
						<th>Transferência</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="conta : ${contas}">
						<td th:text="${conta.id}">
							<a href="/conta/${conta.id}">Id</a>
						</td>
						<td th:text="${conta.cpf}"></td>
						<td th:text="${conta.agencia}"></td>
						<td th:text="${conta.conta}"></td>
						<td th:text="${conta.saldo}"></td>
						<td><a th:href="${'/conta/' + conta.id}">Edit</a></td>
						<td><a th:href="${'/conta/' + conta.id}">Transferência</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>

